@import url("https://fonts.googleapis.com/css?family=Shadows+Into+Light|Source+Sans+Pro:400,700");
@font-face {
  font-family: 'BlackMango';
  src: url("../fonts/BlackMango-Medium.ttf") format("truetype");
}
@font-face {
  font-family: 'GothamMedium';
  src: url("../fonts/GothamMedium.ttf") format("truetype");
}

@font-face {
  font-family: 'GothamBold';
  src: url("../fonts/GothamBold.ttf") format("truetype");
}

@font-face {
  font-family: 'GothamBook';
  src: url("../fonts/GothamBook.ttf") format("truetype");
}
html {
  overflow-x: hidden;
}


body {
  background: #fff;
  font-size: 22px;
  font-weight: 400;
  font-family: "Source Sans Pro", sans-serif;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-font-smoothing: subpixel-antialiased;
  color: #FFFFFF;
  line-height: 25px;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  overflow-x: hidden;
}

h1, h2, h3, h4 {
  font-size: 36px;
  font-weight: 500;
  font-style: normal;
  font-family: 'BlackMango';
}

.script-font {
  font-family: 'Shadows Into Light', cursive;
}

a {
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

a:hover {
  text-decoration: none;
}

a a:focus {
  outline: none;
}

p {
  font-weight: 400;
  font-family: "GothamMedium", sans-serif;
  margin: 0px;
  font-size: 14px;
  line-height: 22px;
}

ul, ol {
  list-style: outside none none;
  margin: 0;
  padding: 0;
}

ul li, ol li {
  list-style: none;
}

.hero-heading {
  font-size: 48px;
  font-weight: 700;
  color: #fff;
  text-transform: capitalize;
  line-height: 70px;
  letter-spacing: 0.1rem;
}

.hero-sub-heading {
  font-size: 20px;
  font-weight: 400;
  color: #e6e6e6;
  line-height: 45px;
  letter-spacing: 0.1rem;
}

.section-titile-bg {
  display: inline;
  font-size: 115px;
  font-weight: 700;
  height: 100%;
  left: -173px;
  opacity: 0.1;
  position: absolute;
  top: -14px;
  width: 100%;
  text-align: center;
}

.section-title-header p {
  text: center;
  font-weight: 400;
  line-height: 26px;
  padding-bottom: 36px;
}

.section-title {
  color: #252525;
  font-size: 38px;
  text-align: center;
  letter-spacing: 1px;
  line-height: 1;
  margin-bottom: 48px;
  padding: 0 10px;
  position: relative;
}

.btn {
  font-size: 14px;
  padding: 10px 30px;
  border-radius: 0px;
  cursor: pointer;
  font-weight: 400;
  color: #fff;
  border-radius: 4px;
  text-transform: uppercase;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
  display: inline-block;
}

.btn:focus,
.btn:active {
  box-shadow: none;
  outline: none;
  color: #fff;
}

.btn-common {
  background-color: #00b4d9;
  position: relative;
  z-index: 1;
  background: linear-gradient(103.44deg, #6E0697 -5.02%, #D54553 99.59%);
  border-radius: 6px;
  font-size: 24px;
}

.btn-common:hover {
  color: #fff;
  background-color: #21cff3;
  box-shadow: 0 6px 22px rgba(0, 0, 0, 0.1);
  transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
}

.btn-danger:hover {
  background-color: #f55262;
  border-color: #f55262;
  box-shadow: 0 6px 22px rgba(0, 0, 0, 0.1);
  transition: all .2s ease-in-out;
  -moz-transition: all .2s ease-in-out;
  -webkit-transition: all .2s ease-in-out;
}

.btn-border {
  color: #fff;
  background-color: transparent;
  border: 1px solid #fff;
}

.btn-border:hover {
  border: 1px solid #fff;
  color: #fff;
  background-color: rgba(255, 255, 255, 0.2);
}

.btn-lg {
  padding: 14px 33px;
  text-transform: uppercase;
  font-size: 16px;
}

.btn-rm {
  padding: 7px 10px;
  text-transform: capitalize;
}

button:focus {
  outline: none !important;
}

.icon-close, .icon-check {
  color: #00b4d9;
}

.social-icon li {
  display: inline-block;
}

.social-icon li a {
  color: #000;
  background: #fff;
  width: 35px;
  height: 35px;
  line-height: 38px;
  display: block;
  text-align: center;
  border-radius: 100%;
  font-size: 16px;
  margin: 15px 6px 12px 6px;
  transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  -webkit-transition: all 0.3s ease-in-out 0s;
  -o-transition: all 0.3s ease-in-out 0s;
}

/* ScrollToTop */
a.back-to-top {
  display: none;
  position: fixed;
  bottom: 18px;
  right: 15px;
  text-decoration: none;
}

a.back-to-top i {
  display: block;
  font-size: 22px;
  width: 40px;
  height: 40px;
  line-height: 40px;
  color: #fff;
  background: #6E0697;
  border-radius: 2px;
  text-align: center;
  transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -webkit-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.14), 0 4px 8px rgba(0, 0, 0, 0.28);
}

a.back-to-top:hover, a.back-to-top:focus {
  text-decoration: none;
}

#loader {
  position: fixed;
  background: #fff;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 9999999999;
}

.square-spin {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -40px;
  margin-top: -40px;
}

.square-spin img {
  max-width: 64px;
}

.section-padding {
  padding: 90px 0;
}


/* Section 1 */
@media (min-width: 792px){
  #section-1 {
    background: url(../img/BANNER-1.jpg) no-repeat center center;
    overflow: hidden;
    background-size: cover;
    background-position: center center;
    height: 100vh;
  }
}
#section-1 h3 {
  color: #6E0697;
  padding-bottom: 10px;
}

#section-1 p {
  color: #6E0697;
  padding-bottom: 20px;
}

#section-1 .img-fluid {
  width: 40%;
  height: auto;
  padding-bottom: 40px;
  padding-top: 100px;
}

/* End of Section 1 */

/* Section 2 */
#section-2 {
  background: url(../img/SECTION2.jpg) no-repeat center center;
  overflow: hidden;
  background-size: cover;
  background-position: center center;
  height: 100vh;
}

#section-2 h3 {
  color: #FFFFFF;
  padding-bottom: 10px;
}

#section-2 p {
  color: #FFFFFF;
  padding-bottom: 20px;
}
/* End of Section 2 */


/* Section 3 */
#section-3 {
}

#section-3 h3 {
  color: #6E0697;
  padding-bottom: 10px;
}

#section-3 p {
  color: #6E0697;
  padding-bottom: 20px;
}

#section-3 .img-who {
  width: 80%;
  height: auto;
  padding-bottom: 40px;
  border-radius: 200px 20px;
}

#section-3 .profile-wrapper {
  width: 459px;
  height: 410px;
}

#section-3 .centered-title {
  text-align: center;
  font-size: 64px;
  line-height: 70px;
}

#section-3 .img-fluid {
  width: 326px;
  height: 219px;
  padding-bottom: 40px;
}

#section-3 .flexbox-img {
  display: flex;
  justify-content: center;
}
/* End of Section 3 */


/* Section 4 */
#section-4 {
  background: url(../img/RAINHA_XADREZ.png), #6E0697;
  background-repeat: no-repeat;
  height: 100vh;
  background-size: 20% auto;
  background-position: center center;
}

.flex-container {
  display: flex;
  height: 599px;
  flex-flow: column wrap;
  align-content: space-between;
}

.flex-container > div {
  width: 400px;
  height: 100px;
  margin: 10px;
  text-align: center;
  line-height: 75px;
  font-size: 30px;
  border: 1px solid #FFFFFF;
  border-radius: 15px;
  display: flex;
}

.flex-container > div > img {
  width: 65px;
  padding: 15px;
  object-fit: contain;
  vertical-align: middle;
}

.flex-container > div > p {
  vertical-align: middle;
}
#section-4 h3 {
  color: #FFFFFF;
  padding-bottom: 10px;
  vertical-align: middle;
}

#section-4 p {
  color: #FFFFFF;
  place-self:center;
  padding: 5px;
}

#section-4 > div p {
  text-align: left;
}

#section-4 .section-4-header {
  align-items: center;
  text-align: center;
}

/* End of Section 4 */


/* Section 5 */
#section-5 {
  background-color: #FFFFFF;
  background-repeat: no-repeat;
  background-size: 20% auto;
  background-position: center center;
  align-items: center;
  text-align: center;
}

#section-5 .row {
  padding-top: 50px;
}

#section-5 h3 {
  color: #6E0697;
  padding-bottom: 10px;
}

#section-5 .btn-common {
  margin-left: auto;
  margin-right: auto;
}

#section-5 .center-text {
  width: 80%;
  margin: auto;
}

#section-5 p {
  color: #FFFFFF;
  padding: 30px;
  padding-bottom: 1px;
}

#section-5 .queen-cards {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

#section-5 .queen-card {
  padding-left: 10px;
  margin-left: -10px;
  width: 100%;
  height: 100%;
  border-radius: 13px;
  padding-top: 270px;
  text-align: center;
  padding-bottom: 50px;
}

#section-5 .queen-card h3 {
  color: #FFFFFF;
}

#section-5 .queen-cards .cat {
  background-size: 100% auto;
  background-position: top;
  background-image:
    linear-gradient(360deg, #6E0697 49.95%, rgba(110, 6, 151, 0) 107.68%),
    url(../img/GATA_BORRALHEIRA.jpeg);
  background-repeat: no-repeat;
  overflow: hidden;
  width: 30%;
}

#section-5 .queen-cards .princess {
  background-size: 100% auto;
  background-position: top;
  background-image:
    linear-gradient(360deg, #6E0697 49.95%, rgba(110, 6, 151, 0) 107.68%),
    url(../img/PRINCESA.jpeg);
  background-repeat: no-repeat;
  overflow: hidden;
  width: 30%;
}

#section-5 .queen-cards .queen {
  background-size: 100% auto;
  background-position: top;
  background-image:
    linear-gradient(360deg, #6E0697 49.95%, rgba(110, 6, 151, 0) 107.68%),
    url(../img/RAINHA.jpeg);
  background-repeat: no-repeat;
  overflow: hidden;
  width: 30%;
}

#section-5 .box {
  display: flex;
  text-align: center;
}

#section-5 p {
  color: #FFFFFF;
  padding-bottom: 20px;
}

#section-5 .section-4-header {
  align-items: center;
  text-align: center;
}

/* End of Section 5 */

/* Section 6 */
#section-6 {
  background-color: #F8F8F8;
  background-repeat: no-repeat;
  background-size: 20% auto;
  background-position: center center;
  align-items: center;
  text-align: center;
}

#section-6 .row {
  padding-top: 50px;
}

#section-6 .row {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  gap: 30px;
}

#section-6 .purple-box {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),
    linear-gradient(0deg, #6E0697, #6E0697);
  border-radius: 13px;
  width: 45%;
  padding: 50px
}

#section-6 .img-who {
  padding-bottom: 40px;
  width: 83px;
}

#section-6 .red-box {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),
    linear-gradient(0deg, #D54553, #D54553);
  border-radius: 13px;
  width: 45%;
  padding: 50px
}

#section-6 h3 {
  color: #FFFFFF;
  padding-bottom: 10px;
}

#section-6 .btn-common {
  margin-left: auto;
  margin-right: auto;
}

#section-6 .center-text {
  width: 80%;
  margin: auto;
}

#section-6 p {
  color: #FFFFFF;
  padding: 30px;
  padding-bottom: 1px;
}

#section-6 .box {
  display: flex;
  text-align: center;
}
/* End of Section 6 */

/* Section 7 */
#section-7 {
  background-color: #6E0697;
  align-items: center;
  text-align: center;
}

#section-7 .container {
  display: flex;
  flex-direction: row;
  text-align: center;
  flex-wrap: wrap;
  gap: 20px;
}

#section-7 .box {
  width: 30%;
  padding: 10px;
  padding-bottom: 20px;
  padding-top: 20px;
  border: 1px solid #FFFFFF;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 12px;
}

#section-7 .title {
  flex-direction: initial;

}

.subtitle {
  font-size: 24px;
  font-weight: bold;
}

#section-7 h3 {
  color: #FFFFFF;
  padding-bottom: 10px;
}

#section-7 p {
  color: #FFFFFF;
  padding: 30px;
  padding-bottom: 1px;
}
/* End of Section 7 */


/* Section 8 */
#section-8 {
  background-color: #FFFFFF;
  background-repeat: no-repeat;
  background-size: 20% auto;
  background-position: center center;
  align-items: center;
  text-align: center;
}

#section-8 .container {
  display: flex;
  flex-direction: column;
}

#section-8 .row {
  display: flex;
  flex-direction: column;
  gap: 1px;
}

#section-8 .price-box {
  background-color: #6E0697;
  display: flex;
  flex-direction: row;
  width: 60%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  border-radius: 7px;
  min-height: 50px;
  align-items: center;
}

#section-8 .price-box-big {
  background-color: #6E0697;
  display: flex;
  flex-direction: column;
  width: 35%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  border-radius: 7px;
  min-height: 50px;
  align-items: center;
  gap: 15px;
  padding: 20px;
}

#section-8 .text {
  font-family: 'GothamBook';
  width: 70%;
  font-weight: 400;
  font-size: 18px;
  line-height: 70px;
}

#section-8 .text-big {
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  padding: 15px;
}

#section-8 .text-big-1 {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
}

#section-8 .price-big-3 {
  font-weight: 900;
  font-size: 80px;
  line-height: 96px;
  text-align: center;
  letter-spacing: -0.05em;
}

#section-8 .text-big-4 {
  font-weight: 700;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
}

#section-8 .price {
  font-family: GothamBold;
  width: 30%;
  font-weight: 300;
  font-size: 30px;
  text-align: center;
  text-decoration: line-through;
  text-decoration-color: #D54553;
}

#section-8 p {
  color: #6E0697;
  padding-top: 10px;
}

#section-8 .row {
  padding-top: 50px;
}

#section-8 h3 {
  color: #6E0697;
  padding-bottom: 10px;
  font-weight: 500;
  font-size: 36px;
  line-height: 55px;
  text-align: center;
  letter-spacing: 0.03em;
}

#section-8 .btn-common {
  margin-left: auto;
  margin-right: auto;
  width: 35%;
}

#section-8 .center-text {
  width: 50%;
  margin: auto;
}

#section-8 .nm p {
  color: #FFFFFF;
}

#section-8 .nm .container {
  width: 80%;
  display: flex;
  flex-direction: row;
  gap: 30px;
  justify-content: center;
}

#section-8 .nm .plan {
  width: 30%;
}

#section-8 .nm .red {
  background: linear-gradient(103.44deg, #6E0697 -5.02%, #D54553 99.59%);
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  min-height: 50px;
  align-items: center;
  gap: 15px;
  padding: 20px;
  border-radius: 7px 7px 0px 0px;
}

#section-8 .nm p {
  color: #6E0697;
  width: 40%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 30px;
  font-family: GothamMedium;
}

#section-8 .nm .red p {
  padding-top: unset;
}

#section-8 .nm .purple p {
  padding-top: 15px;
}

#section-8 .nm h3 {
  padding-bottom: 40px;
}

#section-8 .nm .container p {
  color: #FFFFFF;
  width: 80%;
}

#section-8 .nm p {
  font-size: 16px;
}

#section-8 .nm .purple {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),
    linear-gradient(0deg, #6E0697, #6E0697);
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  min-height: 50px;
  align-items: center;
  gap: 15px;
  padding: 20px;
  border-radius: 0px 0px 7px 7px;
  height: 300px;
}

/* End of Section 8 */

#about .img-thumb img {
  border: 8px solid #fff;
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
}

.profile-wrapper {
  padding: 45px 0;
}

.profile-wrapper .btn {
  margin: 10px 10px 0px 0px;
}

.profile-wrapper .btn i {
  vertical-align: middle;
  margin-right: 5px;
}

.about-profile {
  position: relative;
  margin: 20px 0 20px 0;
}

.about-profile .pro-title {
  font-weight: 700;
  color: #040404;
  position: relative;
  width: 120px;
  display: inline-block;
  margin-bottom: 5px;
}

.about-profile .pro-title:after {
  position: absolute;
  content: ':';
  color: #040404;
  font-size: 14px;
  left: 77px;
}

.about-profile .admin-sign {
  position: absolute;
  right: 45px;
  bottom: 10px;
}

.counter-section {
  background: url(../img/background/bg-1.jpg);
  overflow: hidden;
  position: relative;
}

.counter-section:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.counter-section .counter {
  padding: 30px 0;
}

.counter-section .counter .icon {
  margin-bottom: 30px;
}

.counter-section .counter .icon i {
  font-size: 48px;
  color: #00b4d9;
}

.counter-section .counter p {
  font-size: 18px;
  text-transform: uppercase;
  color: #fff;
  font-weight: 400;
  letter-spacing: 1px;
  margin: 30px 0;
}

.counter-section .counter .counterUp {
  color: #fff;
  font-size: 42px;
  margin-top: 15px;
  font-weight: 700;
}

/* Resume */
.timeline {
  position: relative;
}

.timeline .timelin-title {
  font-size: 20px;
  text-transform: uppercase;
  margin-left: 25px;
}

.timeline li {
  padding: 0 20px 20px 30px;
  list-style: none;
  border-left: 2px solid #f1f1f1;
}

.timeline li .content-text {
  background: #f2f2f2;
  padding: 20px;
}

.timeline li .line-title {
  font-size: 16px;
  line-height: 6px;
}

.timeline li span {
  font-size: 12px;
  padding: 9px 0;
  display: block;
}

.timeline li .line-text {
  color: #888;
  line-height: 18px;
}

.timeline li:first-child:before {
  border: 0;
  background: none;
  position: relative;
}

.timeline li:last-child {
  padding: 0 20px 0px 30px;
}

.timeline li:before {
  content: "";
  border: solid 2px;
  width: 8px;
  height: 8px;
  border-radius: 50px;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  font-size: 8px;
  margin-left: -35px;
  font-weight: 400;
  background: #fff;
  display: block;
  position: absolute;
  margin-top: 18px;
  border-color: #00b4d9 !important;
}

.timeline li:first-child i {
  font-size: 20px;
  float: left;
  margin-left: -30px;
  line-height: 50px;
  border-radius: 30px;
  margin: -12px -55px;
  background: #00b4d9;
  color: #fff;
  width: 50px;
  height: 50px;
  text-align: center;
}

.navbar-brand {
  position: relative;
  padding: 0px;
}

.top-nav-collapse {
  background: #fff;
  z-index: 999999;
  top: 0px !important;
  min-height: 58px;
  box-shadow: 0px 3px 6px 3px rgba(0, 0, 0, 0.06);
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: fadeInDown;
  animation-name: fadeInDown;
  background: #fff !important;
}

.top-nav-collapse .navbar-brand {
  top: 0px;
}

.top-nav-collapse .navbar-brand img {
  width: 65%;
}

.top-nav-collapse .navbar-nav .nav-link {
  color: #333 !important;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}

.top-nav-collapse .navbar-nav .nav-link:hover {
  cursor: pointer;
  color: #00b4d9 !important;
}

.top-nav-collapse .navbar-nav li.active a.nav-link {
  color: #00b4d9 !important;
}

.indigo {
  background: #fff;
}

.menu-bg {
  background: transparent;
}

.navbar-expand-lg .navbar-nav .nav-link i {
  font-size: 28px;
  color: #00b4d9;
  vertical-align: middle;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.navbar-expand-lg .navbar-nav .nav-link i:hover {
  color: #21cff3;
}

.navbar-expand-lg .navbar-nav .nav-link {
  color: #333;
  font-weight: 700;
  padding: 0 17px;
  margin-top: 15px;
  margin-bottom: 15px;
  line-height: 40px;
  text-transform: uppercase;
  cursor: pointer;
  background: transparent;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.navbar {
  padding: 0;
}

.navbar li.active a.nav-link {
  color: #00b4d9;
}

.dropdown-toggle::after {
  display: none;
}

.dropdown-menu {
  margin: 0;
  padding: 0;
  display: none;
  position: absolute;
  z-index: 99;
  min-width: 210px;
  background-color: #fff;
  white-space: nowrap;
  border-radius: 4px;
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  animation: fadeIn 0.4s;
  -webkit-animation: fadeIn 0.4s;
  -moz-animation: fadeIn 0.4s;
  -o-animation: fadeIn 0.4s;
  -ms-animation: fadeIn 0.4s;
}

.dropdown-menu:before {
  content: "";
  display: inline-block;
  position: absolute;
  bottom: 100%;
  left: 20%;
  margin-left: -5px;
  border-right: 10px solid transparent;
  border-left: 10px solid transparent;
  border-bottom: 10px solid #fff;
}

.dropdown:hover .dropdown-menu {
  display: block;
  position: absolute;
  text-align: left;
  top: 100%;
  border: none;
  animation: fadeIn 0.4s;
  -webkit-animation: fadeIn 0.4s;
  -moz-animation: fadeIn 0.4s;
  -o-animation: fadeIn 0.4s;
  -ms-animation: fadeIn 0.4s;
}

.dropdown .dropdown-menu .dropdown-item {
  width: 100%;
  padding: 12px 20px;
  font-size: 14px;
  color: #333;
  border-bottom: 1px solid #f1f1f1;
  text-decoration: none;
  display: inline-block;
  float: left;
  clear: both;
  position: relative;
  outline: 0;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

.dropdown .dropdown-menu .dropdown-item:last-child {
  border-bottom: none;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.dropdown .dropdown-menu .dropdown-item:first-child {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.dropdown .dropdown-item:focus,
.dropdown .dropdown-item:hover,
.dropdown .dropdown-item.active {
  color: #00b4d9;
}

.dropdown-item.active, .dropdown-item:active {
  background: transparent;
}

.fadeInUpMenu {
  -webkit-animation-name: fadeInUpMenu;
  animation-name: fadeInUpMenu;
}

.slicknav_btn {
  border-color: #00b4d9;
}

.slicknav_menu .slicknav_icon-bar {
  background: #00b4d9;
}

/* only small tablets */
@media (min-width: 768px) and (max-width: 991px) {
  #nav-main li a.nav-link {
    padding-top: 18px;
  }
}

.navbar-toggler {
  display: none;
}

#section-8 .nm .container {
  width: unset;
  display: flex;
  flex-direction: column;
  gap: 30px;
  justify-content: center;
}

#section-8 .nm p {
  width: 80%;
}

#warranty {
  height: 350px;
}

#section-8 .nm .plan {
  width: 100%;
}

#section-8 .nm .red {
  background: linear-gradient(103.44deg, #6E0697 -5.02%, #D54553 99.59%);
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  min-height: 50px;
  align-items: center;
  gap: 15px;
  padding: 20px;
  border-radius: 7px 7px 0px 0px;
}

#section-8 .nm h3 {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 50px;
}

#section-8 .nm .container p {
  color: #FFFFFF;
  width: 80%;
}

#section-8 .nm .purple {
  background: linear-gradient(0deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0)),
    linear-gradient(0deg, #6E0697, #6E0697);
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  min-height: 50px;
  align-items: center;
  gap: 15px;
  padding: 20px;
  border-radius: 0px 0px 7px 7px;
  height: 250px;
}

.mobile-menu {
  display: none;
}

.slicknav_menu {
  display: none;
}

@media screen and (max-width: 768px) {
  .navbar-header {
    width: 100%;
  }
  .navbar-brand {
    position: absolute;
    padding: 0px 15px;
    top: 0;
  }
  .navbar-brand img {
    width: 75%;
  }
  #mobile-menu {
    display: none;
  }
  .slicknav_menu {
    display: block;
  }
  .slicknav_nav .active a {
    background: #E91E63;
    color: #fff;
  }
  .slicknav_nav a:hover,
  .slicknav_nav a:focus,
  .slicknav_nav .active {
    color: #00b4d9;
    outline: none;
    background: #f8f9fa;
  }
  #section-1 {
  }

  .image-banner {
    background: url(../img/BANNER-1_MOBILE.jpg) no-repeat;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 590px;
    margin-top: -180px;
    margin-bottom: -20px;
  }

  .section-padding {
    padding: 20px 0;
  }

  #section-2 {
    background: url(../img/SEÇÃO2-MOBILE.jpg),  #80019c;
    background-repeat: no-repeat;
    height: unset;
    overflow: hidden;
    background-size: contain;
    background-position: bottom;
    min-height: 130vh;
  }

  #section-3 {
    height: unset;
  }

  #section-3 .img-fluid {
    width: 40%;
    height: auto;
  }

  #section-3 .col-lg-6 {
    padding-top: 30px;
  }

  #section-3 .row {
    flex-flow: column-reverse;
  }

  #section-3 > div {
    text-align: center;
  }

  #section-2 > div {
    text-align: center;
  }
  #section-5 .queen-cards {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }

  #section-5 .queen-card {
    height: unset;
  }

  #section-5 .queen-cards .cat {
    width: 90%;
  }

  #section-5 .queen-cards .princess {
    width: 90%;
  }

  #section-5 .queen-cards .queen {
    width: 90%;
  }

  #section-6 .purple-box {
    width: 90%;
    padding: 50px 10px;
  }

  #section-6 .red-box {
    width: 90%;
    padding: 50px 10px;
  }

  #section-7 .box {
    width: 90%;
    align-self: center;
  }

  #section-7 .container {
    flex-direction: column;
  }
  .flex-container {
    gap: unset;
    flex-flow: column;
    height: unset;
  }
  .flex-container > div {
    width: 90%;
    align-self: center;
    text-align: unset;
  }

  #section-4 {
    height: unset;
    background: #6E0697
  }

  #section-8 .price-box {
    flex-direction: row;
    width: 90%;
  }

  #section-8 .center-text {
    width: 80%;
    margin: auto;
  }
  #section-8 .text {
    font-size: 14px;
  }

  #section-8 .price {
    font-size: 20px;
  }
  #section-8 .price-box-big {
    width: 90%;
  }

  #section-8 .btn-common {
    width: 90%;
  }

  #warranty .row .box {
    flex-wrap: unset;
    height: unset;
  }

  #section-1 {
    height: unset;
  }

  #section-1 .img-fluid {
    padding-bottom: 40px;
    padding-top: unset;
    align-self: center;
  }

  #section-1 .col-flex {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding-top: 20px;
  }

  #section-1 h3 {
    width: 90%;
  }

  a {
    font-family: "GothamBold", sans-serif;
    color: inherit;
  }

  .btn-common {
    font-size: 1rem;
  }


}

/* 7 days Area Start */
#warranty {
  background-color: #6E0697;
}

#warranty .image {
  text-align: right;
}

#warranty .box {
  display: flex;
  height: 200px;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
#warranty .box>*:first-child {
  align-self: stretch;
}

#warranty .item-1 {
  padding: 0 10px;
}

#warranty .item-2 {
  padding: 0 10px;
}

#warranty .img-who {
  width: 209px;
  height: 200px;
}
/* 7 days Area Finish */

/* faq Area Start */
#faq .card-body p {
  color: #6E0697;
}

#faq .card {
  border: 1px;
}

#faq h3 {
  margin: auto;
  color: #6E0697;
  padding-bottom: 20px;
}


/* faq Area Finish */

/* Footer Area Start */
.footer-area {
  background: #FFFFFF;
}

.footer-area .footer-text p {
  font-size: 14px;
  margin-top: 20px;
  color: #6E0697;
}

.footer-area .img-fluid {
  width: 169px;
  height: 102px;
}

.card-header {
  border: 1px solid #FFFFFF;
  background-color: #6E0697;
  border-radius: 20px;
}

.card-header:first-child {
  border-radius: 10px;
}

a {
  font-family: "GothamBold", sans-serif;
  font-size: 1rem;
}

.btn:not(:disabled):not(.disabled) {
  color: inherit;
}

.accordion .card-header .btn-block{
  white-space:normal;
}
